* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  color: #4e2402;
}

.header {
  position: relative;
  width: 100%;
  height: 12vh;
  background: #2e2d2b;
  top: 0%;
  left: 0%;


}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f8f5d0;
}

.logo {
  position: relative;
  font-size: 15px;
  color: #f8f5d0;
  width: 70px;
  height: 68px;
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 1px 0;
  align-content: center;
  align-items: center;
  position: sticky;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.navbar a {
  display: inline-flex;
  color: #f6d485;
  text-decoration: none;
  font-weight: bold;
  margin-left: 40px;
  align-items: center;
  font-size: medium;
  justify-content: end;
  align-content: center;
  transition: .3s;
}

.navbar a:hover {
  color: rgb(232, 229, 223);
  text-shadow: 0 0 7px #fff;
  transform: perspective(200px) rotateY(30deg);
  padding-left: 5%;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flexbox;
  align-items: center;
  padding: 10px 10% 0;
}

.home-content {
  max-width: 500px;
  max-height: 100px;
  margin-top: 10%;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 700;
}

.home-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0;
}

.home-content p {
  font-size: 20px;
}

span {
  color: #f8ba10;
}

.auto-type {
  color: #533506;
  font-weight: bold;
}

.glyphicon {
  color: #efef4d;
}

.glyphicon-envelope {
  color: #614c11;
  display: inline;
  font-size: 40px;
  top: 0.4em;
}

.home-sci a.Resume {
  display: inline-block;
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  color: #fff;
  margin: 30px 0;
  border-radius: 5px;
  font-weight: bold;
}

.home-sci button {
  background-color: #644e05;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  margin: 2px 1px;
  margin-top: 0.2em;
}

a.leet {
  display: flexbox;
  margin: 30px 0;
  border-radius: 5px;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  margin-left: 25px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom ls, left ls;
}


.images .boy {
  height: 70vh;
}

.images:hover .boy {
  left: 45%;

}

.home-content h1 {
  overflow: hidden;
  border-right: .02em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .002em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s steps(1) infinite;
  animation-fill-mode: forwards;

}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(240, 227, 204);
  }
}
.section-title {
  font-size: 4rem;
  left: 50%;
  font-weight: 300;
  color: #233307;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px 10px;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: #212121;
  border-radius: 5px;
}

#about .col-left {
  width: 250px;
  height: 400px;
  margin-top: 10%;

}

#about .col-right {
  width: 100%;
  margin-top: 15%;
  margin-right: 2%;
  text-align: center;
  height: fit-content;
}

#about .col-right p {
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  color: #eff785
}

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  padding: 100px 20px;
}

#about button {
  border: none;
  color: rgb(244, 237, 229);
  background: linear-gradient(to left, rgb(125, 65, 16), rgb(255, 172, 71));
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: large;
  margin: 2px 1px;
  margin-top: 0.2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #fac002
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 650px;
  min-height: 300px;
  background: rgba(252, 252, 252, 0.395);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle,
.h4 {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-weight: 500;
  padding: 10px 10px;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 5px;
  color: #fddb6d;
}

.btn {
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(180deg,
      rgba(252, 255, 47, 0.42) 31.77%,
      #f1d85c 100%);
  mix-blend-mode: color-dodge;
  -webkit-animation: move 10s infinite alternate;
  animation: move 10s infinite alternate;
  transition: 2s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #faad3a,
    inset 200px 200px 0 0px #e9be4a,
    inset 300px 300px 0 0px #f0a80b;
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes textclip {
  from {
    background-position: 200% center;
  }
}

@keyframes move {
  from {
    transform: translate(-50px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

#academics {
  font-family: "Oxygen", sans-serif;
  color: #f4f0f0;
  background-color: #f2eecc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  margin: 0 17vh;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  height: 100vh;
}

.card_image {
  position: relative;
  max-height: 41vh;
}

.card_image img {
  width: 27vw;
  height: 37vh;
  object-fit: cover;
}

.card_price {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: #473b0c;
  font-size: 10px;
  font-weight: 700;
}

.card_price span {
  font-size: 10px;
  margin-top: -2px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card1 {
  background-color: rgb(71, 49, 15);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  position: relative;
  padding: 16px 12px 32px 24px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 15px;
}

.card_title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}

hr {
  margin: 24px auto;
  width: 50px;
  border-top: 2px solid #c89b3f;
}

.card_text p {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}



/* font awesome import */
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

.skills1 {
  width: 900px;
  min-height: 100px;
  background: rgba(241, 237, 232, 0.457);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  left: 12.5%;

  padding: 2rem;
  z-index: 10;
  color: rgb(30, 28, 28);
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ul-circles * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul-circles {
  --innerSize: 8rem;
  --rimSize: 2rem;

  display: grid;
  grid-template-columns: repeat(var(--repeatVal, 1), calc(var(--innerSize)));
  justify-content: center;
  gap: var(--rimSize);

  padding: var(--rimSize);
  font-family: sans-serif;
  list-style: none;
}

.ul-circles.ul-circles-vertical {
  --repeatVal: 1;
}

.ul-circles>li {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: calc(var(--rimSize) / 16);

  aspect-ratio: 1/1;
  padding: calc(var(--rimSize) / 16);
  border-radius: 50%;

  text-align: center;
  position: relative;
}

.ul-circles>li::before,
.ul-circles>li::after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: inherit;
  z-index: -1;
}
.ul-circles>li::before {
  width: calc(100% + calc(2 * var(--rimSize)));
  left: calc(var(--rimSize) * -1);
  top: calc(var(--rimSize) * -1);
  background: var(--accent-color);
  clip-path: polygon(var(--clipX1, 0%) var(--clipY1, 0%),
      var(--clipX2, 50%) var(--clipY1, 0%),
      var(--clipX2, 50%) var(--clipY2, 100%),
      var(--clipX1, 0%) var(--clipY2, 100%));
  box-shadow: inset 2px -2px 10px rgba(255, 255, 255, 0.25),
    inset -2px 2px 10px rgba(0, 0, 0, 0.5);
}

.ul-circles>li:nth-child(even)::before {
  --clipX1: 50%;
  --clipX2: 100%;
}

@media (min-width: 40rem) {
  .ul-circles {
    --repeatVal: auto-fit;
  }

  .ul-circles:not(.ul-circles-vertical)>li:nth-child(even)::before {
    --clipX1: 0%;
    --clipY1: 0%;
    --clipX2: 100%;
    --clipY2: 50%;
  }

  .ul-circles:not(.ul-circles-vertical)>li:nth-child(odd)::before {
    --clipX1: 0%;
    --clipY1: 50%;
    --clipX2: 100%;
    --clipY2: 100%;
  }
}

.ul-circles>li::after {
  width: 100%;
  background: #fdfdfd;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.ul-circles>li>i {
  font-size: 5rem;
  color: var(--accent-color);
  align-self: end;
}



.skills1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: -0.5rem 0.5rem 0.5rem white;
}


@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

#social {
  height: 90vh;
}

.page-content {
  box-sizing: border-box;
}

.page-content {
  height: 100%;
}

.page-content {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card2 {
    height: 350px;
  }
}

.card2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card2:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card2:nth-child(1):before {
  background-image: url(./images/cricketground.webp);
}
.card2:nth-child(2):before {
  background-image: url(./images/CodingCertificate.jpg);
}

.card2:nth-child(3):before {
  background-image: url(./images/whatsapp_img3.jpg);
}

.card2:nth-child(4):before {
  background-image: url(./images/game_online.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.35;
}

.btn2 {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(146, 146, 146, 0.26);
  border: none;
}

.btn2:hover {
  background-color: #b5b2b2;
  text-decoration: none;
}

.btn2:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card2:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card2:hover,
  .card2:focus-within {
    align-items: center;
  }

  .card2:hover:before,
  .card2:focus-within:before {
    transform: translateY(-4%);
  }

  .card2:hover:after,
  .card2:focus-within:after {
    transform: translateY(-50%);
  }

  .card2:hover .content,
  .card2:focus-within .content {
    transform: translateY(0);
  }

  .card2:hover .content>*:not(.title2),
  .card2:focus-within .content>*:not(.title2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card2:focus-within:before,
  .card2:focus-within:after,
  .card2:focus-within .content,
  .card2:focus-within .content>*:not(.title2) {
    transition-duration: 0s;
  }
}

svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
}

form {
  min-width: 25rem;

  .title1 {
    font-family: "Pacifico", cursive;
    color: #212529;
    font-size: 2.5rem;
  }

  .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

    &.thick {
      height: 3.3rem;
      padding: 0.5rem 3.5rem;
    }
    &:focus {
      background-color: #f2f6f8;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }
  }

  .message .form-control {
    padding: 0.5rem 1.8rem;
  }
::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }

  input,
  textarea {
    font-family: "Quicksand", sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }

  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}